In [2]:
import pandas as pd
import streamlit as st
from pycaret.classification import setup, create_model, predict_model
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Step 1: Data Reading and EDA

In [3]:
def load_data():
    # Assuming your data is in a CSV file
    data = pd.read_csv('heart.csv')
    return data

In [4]:
data = load_data()

# Step 2: EDA (Exploratory Data Analysis)

In [6]:
st.subheader('Exploratory Data Analysis (EDA)')
st.write(data.head())  # Displaying the first few rows of the dataset

In [7]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [8]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

# Step 3: Handling Missing Values

In [9]:
st.subheader('Handling Missing Values')
missing_values = data.isnull().sum()
st.write(missing_values)

In [10]:
missing_values_counts =data.isnull().sum()
print(missing_values_counts)

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# Dropping columns with missing values

In [11]:
cols_to_drop = missing_values[missing_values > 0].index
data = data.drop(cols_to_drop, axis=1)
st.write('Updated dataset after dropping columns:')
st.write(data)

In [12]:
print(data.columns)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

# Step 4: Removing Columns

In [13]:
st.subheader('Removing Columns')
columns_to_remove = st.multiselect('exang', data.columns)
data = data.drop(columns_to_remove, axis=1)
st.write('Updated dataset after removing columns:')
st.write(data)

In [14]:
print(data.columns)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

# Step 5: Choosing X and Y Variables and Detecting Task Type

In [16]:
st.subheader('Choosing X and Y Variables and Detecting Task Type')
X_columns = st.multiselect('Select X variables', data.columns)
Y_column = st.selectbox('Select Y variable', data.columns)
task_type = st.selectbox('Select task type', ['Classification', 'Regression'])

# Step 6: Categorical Data Encoding

In [17]:
st.subheader('Categorical Data Encoding')

DeltaGenerator()

In [18]:
# Assuming you have categorical columns to encode
categorical_columns = []  # Add your categorical column names here

if categorical_columns:
    # One-Hot Encoding
    if task_type == 'Classification':
        encoder = OneHotEncoder(sparse=False, drop='first')
    else:
        encoder = OneHotEncoder(sparse=False)
    
    encoded_data = encoder.fit_transform(data[categorical_columns])
    encoded_columns = encoder.get_feature_names(categorical_columns)
    
    # Create a new DataFrame with encoded columns
    encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)
    
    # Concatenate the encoded DataFrame with the original data
    data = pd.concat([data, encoded_df], axis=1)
    
    # Drop the original categorical columns
    data = data.drop(categorical_columns, axis=1)
    
    st.write('Updated dataset after categorical encoding:')
    st.write(data)

In [19]:
def create_label_encoder():
    return LabelEncoder()

In [20]:
label_encoder = create_label_encoder()

In [21]:
data['sex']

0       1
1       1
2       1
3       1
4       0
       ..
1020    1
1021    1
1022    1
1023    0
1024    1
Name: sex, Length: 1025, dtype: int64

In [22]:
label_encoder.fit_transform(data['sex'])

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

In [23]:
# Step 7: PyCaret in Streamlit App
st.subheader('PyCaret in Streamlit App')

DeltaGenerator()

In [24]:
# Preprocess the data using PyCaret's setup function
preprocess_data = setup(data=data, target=Y_column)

In [26]:
# Create a classification model using PyCaret
model = create_model('rf')

In [28]:
# Fit the model
trained_model = predict_model(model)

In [29]:
# Display the model summary
st.subheader('Model Summary')
st.write(trained_model)

In [38]:
from pycaret.classification import compare_models

In [39]:
beast_model=compare_models()

In [40]:
predict_model(beast_model)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,prediction_label,prediction_score
129,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1,1,0.85
750,55,1,1,130,262,0,1,155,0,0.0,2,0,2,1,1,0.96
138,47,1,2,138,257,0,0,156,0,0.0,2,0,2,1,1,0.91
107,62,1,1,120,281,0,0,103,0,1.4,1,1,3,0,0,0.99
910,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0,0,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0,0,0.96
927,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1,1,0.73
322,45,1,0,142,309,0,0,147,1,0.0,1,3,3,0,0,0.95
406,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1,1,0.98
512,44,1,0,112,290,0,0,153,0,0.0,2,1,2,0,0,0.95

In [41]:
predict_model(beast_model,data.tail())

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,prediction_label,prediction_score
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,1,1.0
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,0,1.0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,0,1.0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,1,0.9
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,0,1.0

In [42]:
predict_model(beast_model,data.drop('target',axis=1).tail())

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,prediction_label,prediction_score
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,1.0
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,1.0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,1.0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,0.9
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,1.0

In [43]:
from pycaret.classification import save_model

In [44]:
save_model(beast_model,model_name='ridge.model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['age', 'trestbps', 'chol',
                                              'thalach', 'oldpeak', 'slope',
                                              'ca'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight=None, criterion='gini',
                                         max_depth=None, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, n_estimators=100,
                                         n_jobs=-1, oob_score=False,
                                         random_state=8791, verbose=0,
                                         warm_start=False))],
          verbose=False),
 'ridge.model.pkl')